<footer>
<div class="container">
<div class="row">
<div class="col-12 col-xl-3 col-lg-3 col-sm-12 col-md-3">
<div class="footer-widget">
<div class="footer_head accordion"><h2>Company</h2></div>
<div class="footer_menu panel">
<ul>
<li><a [routerLink]="['/about']">about</a></li>
<li><a href="#">careers</a></li>
<li><a href="#">partners</a></li>
</ul>
</div>
</div>
</div>
<div class="col-12 col-xl-3 col-lg-3 col-sm-12 col-md-3">
<div class="footer-widget ">
<div class="footer_head accordion"><h2>editorial</h2></div>
<div class="footer_menu panel">
<ul>
<li><a href="#">book lists</a></li>
<li><a href="#">what is nonfiction?</a></li>
<li><a href="#">what to read next</a></li>
<li><a href="#">benefits of reading</a></li>
</ul>
</div>
</div>
</div>
<div class="col-12 col-xl-4 col-lg-3 col-sm-12 col-md-3">
<div class="footer-widget pl-50">
<div class="footer_head accordion"><h2>useful links</h2></div>
<div class="footer_menu panel">
<ul>
<li><a href="#">pricing</a></li>
<li><a href="#">pricing for teams</a></li>
<li><a href="#">gift cards</a></li>
<li><a href="#">contact & help</a></li>
</ul>
</div>
</div>
</div>
<div class="col-12 col-xl-2 col-lg-3 col-sm-12 col-md-3">
<div class="footer-widget apps">
<div class="footer_head"><h2>Apps</h2></div>
<div class="apps_menu">
<ul>
<li><a href="#"><img src="assets/images/App-Store-button-footer.png" class="img-fluid"></a></li>
<li><a href="#"><img src="assets/images/Google-play-button-footer.png" class="img-fluid"></a></li>

</ul>
</div>
</div>
</div>
</div>

<div class="row opc-5">
<div class="col-12"><hr class="footer_border "></div>
<div class="col-12 col-xl-3 col-lg-3 col-sm-12 col-md-12">
<div class="copyright_left d-flex justify-content-left align-items-center"><img src="assets/images/book_icon.png"><span>Book Summaries</span></div>
</div>
<div class="col-12 col-xl-6 col-lg-6 col-sm-12 col-md-6">
<div class="copyright_cntr justify-content-center d-flex">Copyright © 2019 BookSummaries</div>
</div>
<div class="col-12 col-xl-3 col-lg-3 col-sm-12 col-md-6">
<div class="social_icons">
<ul class="d-flex justify-content-around">
<li><a href="#"><img src="assets/images/fb_icon.png"></a></li>
<li><a href="#"><img src="assets/images/Twitter_icon.png"></a></li>
<li><a href="#"><img src="assets/images/insta_icon.png"></a></li>
</ul>
</div>
</div>
</div>
</div>

</footer>

