<section class="banner_section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-12 col-sm-12 col-md-12">
				<div class="banner_text">
					<h2>Listen to free<br>audiobooks<br>on the go</h2>	
					<p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. </p>
					<div class="banner_button">
					<a href="#"><img src="assets/images/App-Store-button.png"></a>
					<a href="#"><img src="assets/images/Google-play-button.png"></a>
					</div>					
				</div>
			</div>
		</div>
	</div>
</section>