<section class="popular_book ">
		<div class="container p-lg-0">
	
					<div class="section_title">
						<h3>{{title}}</h3>
					</div>
					<div class="responsive book_slider regular" id="carousal">
	
	
							<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"  (breakpoint)="breakpointAll($event)">
								<div ngxSlickItem *ngFor="let item of summary;" class="align-top slide">
										<div class="book_list" [routerLink]="['/summary',item.id]" style="cursor: pointer;">
											<div class="book_list_img">
												<img src="{{assetsURl}}/summary_cover/{{item.summary_cover}}" class="img-fluid">
												<!--<div class="book_rating">
													<img src="assets/images/star_icon.png" class="img-fluid">
													<span>{{item.popular}}</span>
												</div>-->
											</div>
											<div class="book_list_txt">
												<h4>{{item.author}}</h4>
												<h2>{{item.name}}</h2>
												<p>
													{{(item.short_description.length>35)? (item.short_description | slice:0:35)+'..':(item.short_description)}}
												</p>
												<div class="time d-flex align-items-center">
													<img src="assets/images/clock_icon.png" class="img-fluid">
													<span>{{item.estimated_time | timeFormat}}-minute read</span>
												</div>
											</div>
										</div>
								</div>
							</ngx-slick-carousel>
					</div>
					<div class="book_more-btn" [hidden]="showLoadMore==0">
						<a [routerLink]="['/summaries']" [queryParams]="{ orderby: orderBy}">See more {{title}}</a>
					</div>
	
		</div>
	</section>