<app-header></app-header>
<section class="category_section d-none d-lg-block">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-1.png" class="img-fluid"><img src="images/catg-icon-1-orange.png" class="img-fluid orange"></div> <span>Entrepreneurship</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-10.png" class="img-fluid"><img src="images/catg-icon-10-orange.png" class="img-fluid orange"></div> <span>Politics</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-19.png" class="img-fluid"><img src="images/catg-icon-19-orange.png" class="img-fluid orange"></div> <span>Marketing & Sales</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-2.png" class="img-fluid"><img src="images/catg-icon-2-orange.png" class="img-fluid orange"></div> <span>Science</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-11.png" class="img-fluid"><img src="images/catg-icon-11-orange.png" class="img-fluid orange"></div> <span>Health & Nutrition</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-20.png" class="img-fluid"><img src="images/catg-icon-20-orange.png" class="img-fluid orange"></div> <span>Personal Development</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-3.png" class="img-fluid"><img src="images/catg-icon-3-orange.png" class="img-fluid orange"></div> <span>Economics</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-12.png" class="img-fluid"><img src="images/catg-icon-12-orange.png" class="img-fluid orange"></div> <span>History</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-21.png" class="img-fluid"><img src="images/catg-icon-21-orange.png" class="img-fluid orange"></div> <span>Communication Skills</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-4.png" class="img-fluid"><img src="images/catg-icon-4-orange.png" class="img-fluid orange"></div> <span>Corporate Culture</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-13.png" class="img-fluid"><img src="images/catg-icon-13-orange.png" class="img-fluid orange"></div> <span>Management & Leadership</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-22.png" class="img-fluid"><img src="images/catg-icon-22-orange.png" class="img-fluid orange"></div> <span>Motivation & Inspiration</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-5.png" class="img-fluid"><img src="images/catg-icon-5-orange.png" class="img-fluid orange"></div> <span>Money & Investments</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-14.png" class="img-fluid"><img src="images/catg-icon-14-orange.png" class="img-fluid orange"></div> <span>Psychology</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-23.png" class="img-fluid"><img src="images/catg-icon-23-orange.png" class="img-fluid orange"></div> <span>Productivity</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-6.png" class="img-fluid"><img src="images/catg-icon-6-orange.png" class="img-fluid orange"></div> <span>Sex & Relationships</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-15.png" class="img-fluid"><img src="images/catg-icon-15-orange.png" class="img-fluid orange"></div> <span>Technology & the Future</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-24.png" class="img-fluid"><img src="images/catg-icon-24-orange.png" class="img-fluid orange"></div> <span>Mindfulness & Happiness</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-7.png" class="img-fluid"><img src="images/catg-icon-7-orange.png" class="img-fluid orange"></div> <span>Parenting</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-16.png" class="img-fluid"><img src="images/catg-icon-16-orange.png" class="img-fluid orange"></div> <span>Creativity</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-25.png" class="img-fluid"><img src="images/catg-icon-25-orange.png" class="img-fluid orange"></div> <span>Nature & Environment</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-8.png" class="img-fluid"><img src="images/catg-icon-8-orange.png" class="img-fluid orange"></div> <span>Philosophy</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-17.png" class="img-fluid"><img src="images/catg-icon-17-orange.png" class="img-fluid orange"></div> <span>Career & Success</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-26.png" class="img-fluid"><img src="images/catg-icon-26-orange.png" class="img-fluid orange"></div> <span>Religion & Spirituality</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-9.png" class="img-fluid"><img src="images/catg-icon-9-orange.png" class="img-fluid orange"></div> <span>Society & Culture</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-18.png" class="img-fluid"><img src="images/catg-icon-18-orange.png" class="img-fluid orange"></div> <span>Education</span></a>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-sm-4 col-md-6">
				<div class="category-list">
				<a class="d-flex align-items-center" href="#"><div class="category-img"><img src="images/catg-icon-27.png" class="img-fluid"><img src="images/catg-icon-27-orange.png" class="img-fluid orange"></div> <span>Biography & Memoir</span></a>
				</div>
			</div>
		</div>
	</div>
</section>